section.app
  .container: .row
    
    .col-md-5
      img.app-image(src="assets/imgs/iphone.png", alt="phonto of the app on an iphone")

    .col-md-6.col-md-offset-1.info
      header: h2.h3.info-header.accent-underline INTRODUCING THE FUDI APP

      .info-content
        p Morbi eget posuere ddolor. Pellentesque cursus aliquet aliquet. Aeneanet felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest ibulum tristique. Suspendisse tristique lacus ac mattis porta.
        p Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a massa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis. Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.
        p Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices ante, a mattis massa.

      .info-btn-group
        a(href="http://www.apple.com/itunes/charts/free-apps/" role="button"): img(src="assets/imgs/itunes-btn.jpg", alt="app store button image")
        a(href="https://play.google.com/store?hl=en" role="button"): img(src="assets/imgs/android-btn.jpg", alt="google play button image")
