section.cuisines
  h2.h3.accent-underline BROWSE BY CUISINES

  .container-fluid.expand: .row
    .col-md-12.cusine-list

      figure
        img(src="assets/imgs/food-1.jpg", alt="photo of Italian food")
        figcaption
          span.sub-header 327 Recipes
          span.font-lg.header ITALIAN

      figure
        img(src="assets/imgs/food-2.jpg", alt="photo of Indian food")
        figcaption
          span.sub-header 856 Recipes
          span.font-lg.header INDIAN

      figure
        img(src="assets/imgs/food-3.jpg", alt="photo of French food")
        figcaption
          span.sub-header 27 Recipes
          span.font-lg.header French

      figure
        img(src="assets/imgs/food-4.jpg", alt="photo of Steak")
        figcaption
          span.sub-header 174 Recipes
          span.font-lg.header STEAKHOUSE

      figure
        img(src="assets/imgs/food-5.jpg", alt="photo of Seafood food")
        figcaption
          span.sub-header 731 Recipes
          span.font-lg.header SEAFOOD

      figure
        img(src="assets/imgs/food-6.jpg", alt="photo of Sushi")
        figcaption
          span.sub-header 237 Recipes
          span.font-lg.header SUSHI

      figure
        img(src="assets/imgs/food-7.jpg", alt="photo of Mexican food")
        figcaption
          span.sub-header 529 Recipes
          span.font-lg.header MEXICAN

      figure
        img(src="assets/imgs/food-8.jpg", alt="photo of Chinese food")
        figcaption
          span.sub-header 145 Recipes
          span.font-lg.header CHINESE

      figure
        img(src="assets/imgs/food-9.jpg", alt="photo of Pizza")
        figcaption
          span.sub-header 327 Recipes
          span.font-lg.header PIZZA

      figure
        img(src="assets/imgs/food-10.jpg", alt="photo of American food")
        figcaption
          span.sub-header 1,437 Recipes
          span.font-lg.header AMERICAN