section.cuisines
  h3.accent-underline BROWSE BY CUISINES

  .container-fluid.expand: .row
    .col-md-12.cusine-list

      figure
        img(src="assets/imgs/food-1.jpg", alt="")
        figcaption
          span.sub-header 327 Recipes
          h1.header ITALIAN

      figure
        img(src="assets/imgs/food-2.jpg", alt="")
        figcaption
          span.sub-header 856 Recipes
          h1.header INDIAN

      figure
        img(src="assets/imgs/food-3.jpg", alt="")
        figcaption
          span.sub-header 27 Recipes
          h1.header French

      figure
        img(src="assets/imgs/food-4.jpg", alt="")
        figcaption
          span.sub-header 174 Recipes
          h1.header STEAKHOUSE

      figure
        img(src="assets/imgs/food-5.jpg", alt="")
        figcaption
          span.sub-header 731 Recipes
          h1.header SEAFOOD

      figure
        img(src="assets/imgs/food-6.jpg", alt="")
        figcaption
          span.sub-header 237 Recipes
          h1.header SUSHI

      figure
        img(src="assets/imgs/food-7.jpg", alt="")
        figcaption
          span.sub-header 529 Recipes
          h1.header MEXICAN

      figure
        img(src="assets/imgs/food-8.jpg", alt="")
        figcaption
          span.sub-header 145 Recipes
          h1.header CHINESE

      figure
        img(src="assets/imgs/food-9.jpg", alt="")
        figcaption
          span.sub-header 327 Recipes
          h1.header PIZZA

      figure
        img(src="assets/imgs/food-10.jpg", alt="")
        figcaption
          span.sub-header 1,437 Recipes
          h1.header AMERICAN