section.features
  .container: .row
    .col-md-4
      .feature-header
        img(src="assets/imgs/food-icon.png", alt="")
        span.lead.accent-underline GET INSPIRED
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, repellendus reprehenderit minus nobis nihil sequi, eaque ducimus
    .col-md-4
      .feature-header
        img(src="assets/imgs/cash-icon.png", alt="")
        span.lead.accent-underline GET REWARDED
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, repellendus reprehenderit minus nobis nihil sequi, eaque ducimus
    .col-md-4
      .feature-header
        img(src="assets/imgs/chef-icon.png", alt="")
        span.lead.accent-underline GET SOCIAL
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, repellendus reprehenderit minus nobis nihil sequi, eaque ducimus