section.hero
  
  //include Nav
  include _nav.jade

  .hero-cta
    .container: .row: .col-md-6.col-md-push-3
    
      h2.sub-header Find your Favorite
      h1.header RECIPES
      a(href="" role="button").btn.btn-lg.btn-cta GET STARTED
      p OR SEND US YOUR OWN RECIPES AND <a href=''>GET REWARDED!</a>