.menu-modal.fade.modal(tabindex="-1")
  .modal-dialog(data-dismiss="modal")
    .modal-option
      span.glyphicon.glyphicon-user
      h1 Log In
    .modal-option
      span.glyphicon.glyphicon-pencil
      h1 Sign Up