.menu-modal.fade.modal(tabindex="-1")
  .modal-dialog(data-dismiss="modal")

    .modal-option(role="button")
      span.glyphicon.glyphicon-user
      span.font-lg Log In
      
    .modal-option(role="button")
      span.glyphicon.glyphicon-pencil
      span.font-lg Sign Up