nav.nav
    .container: .row
      .col-md-4.col-xs-4
        img(src="assets/imgs/logo.png", alt="logo")
      .col-md-8.col-xs-8.text-right
        ul.list-inline.menu
          li: a(href="") LOG IN 
          li: a(href="") SIGN UP
          li: .menu-btn: span