section.stats
  .container: .row
    .col-md-12
      .stat-container
        h1 23,567
        span Recpies Avaiable
      .stat-container
        h1 431,729
        span Active users
      .stat-container
        h1 892,173
        span Postive Reviews
      .stat-container
        h1 56,5581
        span Photos &amp; Videos
      .stat-container
        h1 3,182
        span Spices and Herbs