section.testimonials
  .container
    .row.user-wrapper

      //- Testimonials
      .col-md-12.user-card.is-active
        .user-img
          img(src="assets/imgs/user-square.jpg", alt="")
        .user-quote
          blockquote "I am so happy because I found this recipe, and it just made my life easier. Thanks so much for sharing!"
          cite - Michael Dawson, San Francisco, CA -

      .col-md-12.user-card
        .user-img
          img(src="assets/imgs/user-2.jpg", alt="")
        .user-quote
          blockquote "We made this last night and the kids loved it!"
          cite - Jessica Perez, Denver, CO -


      .col-md-12.user-card
        .user-img
          img(src="assets/imgs/user-3.jpg", alt="")
        .user-quote
          blockquote "For the past 3 months we have made a new recpie each night from this site and we have yet to be dissapointed!"
          cite - Jim Francess, Irvine, CA -

    //- Carousel Nav 
    .row: .col-md-12
      .test-quotes

        ul.list-inline
          li(data-user="0").is-active
          li(data-user="1")
          li(data-user="2")
